
{% extends 'main.html' %}

{% load static %}

{% block content %}
<script src="{% static 'js/script.js' %}"></script>
<div class="grid">
<div class="sidebar">
  <div class="logo">
    <h1>Dashboard</h1>
  </div>
  <ul class="menu">
   <li><a href="#profile" class="active"><i class="fas fa-user"></i> Profile</a></li>
   <li><a href="#vehicle"><i class="fas fa-car"></i> Make Order</a></li>
  </ul>
</div>
<div class="wrapper">
<div class="content">

  <section id="profile" >
    <h2>Booked Vehicle</h2>
    {% include 'client/orders.html' %}
 

    
  
  </section>

  <section id="vehicle">
    <div id="vehicleInfo">
      <h2>Vehicles</h2>
      {% include 'client/vehicle.html' %}

   
  </div>
   <input type="submit" value="Save" class="green-button">
    

  </section>
  <section id="new-orders" >
    <h2>New Orders</h2>
    <p>Content for New Orders section goes here.</p>
  </section>
  <section id="history" >
    <h2>History</h2>
    <p>Content for History section goes here.</p>
  </section>
  <section id="logout" >
    <h2>Logout</h2>
    <p>Content for Logout section goes here.</p>
  </section>
</div>
</div>
</div>
{% endblock %}