{% load static %}
{% block content %}


<table>
  <thead>
      <tr>
          <th>Details</th>
          <th>Number Plate</th>
          <th>Photo</th>
          <th>Status</th>
          <th>Select</th>
      </tr>
  </thead>
  <tbody>
    {% if vehicles %}
    {% for vehicle in vehicles  %}
      <tr>
          <td>{{vehicle.vehicleType }}</td>
          <td>{{vehicle.numberPlate}}</td>
          <td> {% if vehicle.vehicle_image %}
            <img src="{{vehicle.vehicle_image.url}}" width="200">
            {% endif %} 
          </td>
         
          <td>
            {% if vehicle.status == 'Booked' %}
            <p>Booked</p>
            {% else %}
            <p>Available</p>
            {% endif %} 
          </td>
          <td>
         
            <input type="checkbox" name="item1"></td>
           </td>
      </tr>
      {%  endfor %}
      {% else %}
  <tr>
      <td colspan="5">No vehicles found.</td>
  </tr>
{% endif %}
  
 </tbody>
</table>
{% endblock %}