/* Styling for the login container */
.login-container {
    width: 300px;
    margin: 20 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 60px;
  }
  
  /* Styling for the login form */
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Styling for the form labels */
  .login-container label {
    margin-bottom: 5px;
  }
  
  /* Styling for the form inputs */
  .login-container input[type="text"],
  .login-container input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for the submit button */
  .login-container input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styling for the submit button on hover */
  .login-container input[type="submit"]:hover {
    background-color: #45a049;
  }

  