{% extends 'main.html' %}

{% block content %}
<div class="sidebar">
  <div class="logo">
    <h1>Dashboard</h1>
  </div>
  <ul class="menu">
   <li><a href="#profile" class="active"><i class="fas fa-user"></i> Profile</a></li>
   <li><a href="#vehicle"><i class="fas fa-car"></i> Vehicle</a></li>
   <li><a href="#new-orders"><i class="fas fa-clipboard"></i> New Orders</a></li>
   <li><a href="#history"><i class="fas fa-history"></i> History</a></li>
   <li><a href="#logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
  </ul>
</div>
<div class="wrapper">
<div class="content">
  
  <section id="profile" >
    <h2>Profile</h2>
   
  
  </section>
 
  <section id="vehicle" >

    <h2>Vehicle</h2>
     {% if submitted %}
     Your booking was submitted succesfully!!! 

     {% else %}

    
    <form id="vehicleForm" action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
   {{form.as_p}}
   <input type="submit" value="Save" class="green-button">
    {% endif %}

  
  



  </section>
  <section id="new-orders" >
    <h2>New Orders</h2>
    <p>Content for New Orders section goes here.</p>
  </section>
  <section id="history" >
    <h2>History</h2>
    <p>Content for History section goes here.</p>
  </section>
  <section id="logout" >
    <h2>Logout</h2>
    <p>Content for Logout section goes here.</p>
  </section>
</div>
</div>
{% endblock %}