{% extends 'main.html' %}

{% block content %}
<div class="sidebar">
    <div class="logo">
      <h1>Dashboard</h1>
    </div>
    <ul class="menu">
      <li><a href="#" class="active"><i class="fas fa-user"></i> Profile</a></li>
      <li><a href="#"><i class="fa fa-truck"></i> Vehicle</a></li>
      <li><a href="#"><i class="fas fa-clipboard"></i> New Orders</a></li>
      <li><a href="#"><i class="fas fa-history"></i> History</a></li>
      <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>

{% endblock %}