
{% block content %}

<meta name="viewport" content="width=device-width" />

<!--Bootstrap CDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--Fontawesome-->
<script src="https://kit.fontawesome.com/4d0b4c932e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="styles.css" />

<div class="main"></div>
<footer id="Footer"style="background-color:#b3b3cc;" class="page-footer font-small stylish-color-dark pt-4">

  <hr>
  <!-- Social buttons -->
  <div class="hover-effect1">
  <ul  style="background-color:#b3b3cc;" class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="https://www.facebook.com/codewithfaraz" title="Facebook"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.twitter.com/codewithfaraz" title="Twitter"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com/codewithfaraz" title="Instagram"><i class="fa fa-instagram"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="" title="Youtube"><i class="fa fa-youtube"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="#." title="Github"><i class="fa fa-github"></i></a>
    </li>
  </ul>
</div>
  <!-- Copyright -->
  <div  style="background-color:#b3b3cc;" class="footer-copyright text-center py-3">
    Copyright© 2023: Design and Develop by Steve & Basil
  </div>
</footer>

{% endblock content %}