{% extends 'main.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/script.js' %}"></script>
<div class="grid">
<div class="sidebar">
  <div class="logo">
    <h1>Dashboard</h1>
  </div>
  <ul class="menu">
   <li><a href="#profile" class="active"><i class="fas fa-user"></i> Profile</a></li>
   <li><a href="#vehicle"><i class="fas fa-car"></i> Vehicle</a></li>
   <li><a href="#new-orders"><i class="fas fa-clipboard"></i> New Orders</a></li>
  
  </ul>
</div>
<div class="wrapper">
<div class="content">

  <section id="profile" >
    <h2>Profile</h2>
 
    {% include 'base/display.html' %}
    
  
  </section>

  <section id="vehicle" >

    <div class="vehiclesForm">
      <h2>Add Vehicle</h2>
      {% if submitted %}
        <p>Your booking was submitted successfully!!!</p>
      {% else %}
        <form id="vehicleForm" action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %} 
    
          <div class="form-group">
            <label for="{{ form.numberPlate.id_for_label }}">Number Plate:</label>
            <div class="input-container">
              {{ form.numberPlate }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="{{ form.vehicleType.id_for_label }}">Vehicle Type:</label>
            <div class="input-container">
              {{ form.vehicleType }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="{{ form.vehicle_image.id_for_label }}">Vehicle Image:</label>
            <div class="input-container">
              {{ form.vehicle_image }}
            </div>
          </div>
          
          <input type="submit" value="Save" class="green-button">
        </form>
      {% endif %}
    </div>
    

  </section>
  <section id="new-orders" >
    <h2>New Orders</h2>
    {% include 'base/active_orders.html' with orders=selected_orders %}
  </section>


</div>
</div>
</div>

{% endblock %}