

{% block content %}
<div id="vehicleInfo">

    <table>
        <thead>
            <tr>
                <th>Details</th>
                <th>Number Plate</th>
                <th>Photo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{vehicle.vehicleType}}</td>
                <td>{{vehicle.numberPlate}}</td>
                <td>
                    {% if vehicle.vehicle_image %}
                    <img src="{{ MEDIA_URL }}{{vehicle.vehicle_image.url }}" width=200 alt="Image">
                    {% else %}
                     <p>No image available</p>
                    {% endif %}
                </td>
                <td>
                    {% if vehicle.status == 'Booked' %}
                         <p>Booked</p>
                         {% else %}
                         <p>Available</p>
                         {% endif %}
                </td>
            </tr>
            {% endfor %}
       </tbody>
    </table>
  </div>

  {% endblock %}